# Problema 5 #

In [1]:
import pandas as pd
df = pd.read_csv("14_FootballClubs.csv",encoding = "ISO-8859-1")
filtrado_tamanio = df.loc[df["Average_Age_Of_Players"] > 27 ,["Club_Name","Competition Name"]]
filtrado_tamanio

                        Club_Name  Competition Name
0                 Manchester City    Premier League
2               Manchester United    Premier League
4                    Liverpool FC    Premier League
6                     Real Madrid            LaLiga
7             AtlÃ©tico de Madrid            LaLiga
11                    Juventus FC           Serie A
13                 Leicester City    Premier League
14                    Inter Milan           Serie A
15                     SSC Napoli           Serie A
19                     Everton FC    Premier League
20                     Sevilla FC            LaLiga
21                    Atalanta BC           Serie A
27                West Ham United    Premier League
30                  Villarreal CF            LaLiga
31                       SS Lazio           Serie A
43                 Crystal Palace    Premier League
44               Newcastle United    Premier League
46           Real Betis BalompiÃ©            LaLiga
47                    US Sassuolo           Serie A
58           Zenit St. Petersburg      Premier Liga
60                      Getafe CF            LaLiga
63   Clube de Regatas do Flamengo          SÃ©rie A
65                Cagliari Calcio           Serie A
67                     Watford FC    Premier League
68                     Burnley FC    Premier League
69  Sociedade Esportiva Palmeiras          SÃ©rie A
70                  Celta de Vigo            LaLiga
75                    Besiktas JK        SÃ¼per Lig
77               Sheffield United      Championship
79                   UC Sampdoria           Serie A
83                   FK Krasnodar      Premier Liga
85     Club AtlÃ©tico River Plate  Liga Profesional
90                     Rangers FC       Premiership
91                 Udinese Calcio           Serie A
92         RCD Espanyol Barcelona            LaLiga
95                     Levante UD            LaLiga
97        Clube AtlÃ©tico Mineiro          SÃ©rie A
99                      Genoa CFC           Serie A

# Hemos filtrado las columnas de los nombres del club y sus competiciones según los equipos que tienen una media de edad en sus jugadores mayores de 27 años #

In [5]:
df_mod = df[['Club_Name','Average_Age_Of_Players']]
df_2 = df_mod.groupby(['Club_Name'])[['Average_Age_Of_Players']].sum()
df_2.head()

                 Average_Age_Of_Players
Club_Name
1.FSV Mainz 05                     25.7
AC Milan                           26.8
ACF Fiorentina                     27.0
AFC Bournemouth                    25.7
AS Monaco                          24.4

# Hemos creado un nuevo data frame con las columnas Club Name y Age of Players ordenando los nombres de los clubes por orden alfabetico #